body {
  font-family: "Alata", sans-serif;
  background: #121212;
  margin: 0;
}

.navbar {
  background-color: #222222;
  color: white;
  border-bottom: 1px solid #3f3f3f;
  height: 3.125rem;
  padding: 0.45rem 0;
}

.grid {
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.push-left,
.push-right {
  font-size: 1.5rem;
  font-weight: bold;
}

.push-left {
  display: flex;
  align-items: center;
  gap: 1rem
}

.push-left a {
  color: white;
  text-decoration: none;
}

.web-icon {
  margin: 0;
}

.push-left .web-icon {
  width: auto;
  height: 3.125rem;
  vertical-align: middle;
}

.push-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.push-left ul a {
  color: white;
  text-decoration: none;
}

.push-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.125rem;
}

.username {
  margin: 0 1rem;
  color: white;
}

.dashboard-buttons {
  flex: 1;
  text-align: center;
}

.dashboard-buttons ul {
  display: inline-block;
  list-style-type: none;
}

.dashboard {
  display: flex;
  align-items: left;
  padding: 0.625rem;
}

.content {
  padding-top: 3.125rem;
  padding-bottom: 12.5rem;
  margin: 0 auto;
  overflow: auto;
}

.errorpage {
  width: 45%;
  padding: 5rem;
  border-radius: 3rem;
  margin: auto;
  text-align: center;
  color: white;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.downloadpage {
  width: 45%;
  height: 16rem;
  padding: 3rem;
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 3.5rem;
  color: white;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  transition: transform 0.3s ease;
}

.errorpage:hover,
.downloadpage:hover {
  transform: scale(1.015);
}

.title-block {
  margin-bottom: 3rem;
}

.downloadpage h1 {
  width: 100%;
  font-weight: bold;
  margin: 0;
}

.downloadpage h2 {
  width: 100%;
  margin: 0;
}

.errorpage h1 {
  width: 100%;
  font-weight: bold;
  font-size: 10rem;
  margin: 0;
}

.errorpage h2 {
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  margin-top: 3rem;
}

.errorpage p {
  width: 100%;
  font-size: 1.25rem;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.errorpage a,
.downloadpage a {
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  color: #4D0101;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  background-color: #0e0e0e;
  color: #64646a;
  border-top: 1px solid #3f3f3f;
  min-height: 4rem;
  padding: 1rem 0;
  width: 100%;
}

.footer p {
  color: #8a8a8a;
}

.footer h1 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 0;
  color: white;
}

.footer-content {
  display: flex;
  text-align: left;
  margin: auto;
  margin-top: 1.25rem;
  position: relative;
  width: 60%;
}

.footer-content a {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-top: 1.875rem;
  font-weight: 700;
  color: #8a8a8a;
  font-size: large;
}

a:not(:has(img)){
  transition: text-decoration 0.25s ease, color 0.25s ease;
}

a:not(:has(img)):hover{
  text-decoration: underline;
  color: #4D0101;
}

.a-button:hover {
  text-decoration: none;
  border-bottom: 0;
  color: white;
}

.footer-divider {
  margin: 0.938rem auto;
  width: 65%;
  border-bottom: #46464c solid 0.063rem;
}

.divider {
  margin: 0.938rem auto;
  width: 95%;
  border-bottom: white solid 0.125rem;
}

.footer-copyright {
  text-align: left;
  margin: auto;
  width: 60%;
  margin-bottom: 1.25rem;
  position: relative;
}

.search-bar {
  flex: 1;
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  padding: 0.125rem;
}

.loadingGif {
  width: 12.5rem;
  aspect-ratio: 1;
}

.main-upload-form,
.extra-upload-form,
.upload-game-conclusion {
  width: 50%;
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  transition: transform 0.3s ease;
}

.main-upload-form:hover,
.extra-upload-form:hover,
.upload-game-conclusion:hover {
  transform: scale(1.05);
}

.main-upload-form h1,
.extra-upload-form h1,
.extra-upload-form h3,
.extra-upload-form div,
.main-upload-form div,
.upload-game-conclusion h1,
.upload-game-conclusion div {
  color: white;
  margin: 1rem;
}

.upload-game-conclusion label {
  display: block;
  width: 100%;
}

.upload-box {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.3rem;
  font-family: "Secular One", sans-serif;
  color: white;
  background-color: #292929;
  box-shadow: 0 0.5rem 0.5rem black;
  outline: 1px solid #3f3f3f;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.upload-box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
  background-size: cover;
}

.upload-box:hover {
  background-color: #4b4b4b;
}

.upload-box:active {
  background-color: #4b4b4b;
}

.upload-box input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.text-box {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  font-family: "Secular One", sans-serif;
  max-width: 30rem;
  margin: 0.3rem 0;
  width: auto;
  padding: 0.5rem;
  color: white;
  background-color: #292929;
  box-shadow: 0 0.5rem 0.5rem black;
  border-radius: 1rem;
  outline: 1px solid #3f3f3f;
  cursor: text;
  transition: background-color 0.3s ease-in-out;
}

.text-box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background-size: cover;
}

.text-box:hover {
  background-color: #4b4b4b;
}

.text-box:focus-within {
  background-color: #4b4b4b;
}

.text-box input[type="text"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: text;
}

.cl-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.cl-checkbox-box:hover {
  cursor: pointer;
}

.cl-checkbox .cl-checkbox-box {
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  outline: 0.063rem solid #ccc;
  border-radius: 0.188rem;
  background-color: white;
}

.cl-checkbox input[type="checkbox"]:checked + .cl-checkbox-box::after {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 0.063rem;
  width: 0.313rem;
  height: 0.563rem;
  border: solid #000000;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
}

.buttons {
  color: white;
}

.bold-button,
.italic-button,
.underline-button,
.strike-through-button,
.link-button,
.order-list-button,
.number-list-button,
.sans-button,
.sans-serif-button,
.lato-button,
.anonymous-pro-button,
.roboto-button,
.montserrat-button,
.poppins-button,
.raleway-button,
.nuinto-button,
.description-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  margin-bottom: 0.3rem;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}

.bold-button:hover,
.italic-button:hover,
.underline-button:hover,
.strike-through-button:hover,
.link-button:hover,
.order-list-button:hover,
.number-list-button:hover,
.sans-button:hover,
.sans-serif-button:hover,
.lato-button:hover,
.anonymous-pro-button:hover,
.roboto-button:hover,
.montserrat-button:hover,
.poppins-button:hover,
.raleway-button:hover,
.nuinto-button:hover,
.description-button:hover {
  background-color: #333;
}

.bold-button:active,
.italic-button:active,
.underline-button:active,
.strike-through-button:active,
.link-button:active,
.order-list-button:active,
.number-list-button:active,
.sans-button:active,
.sans-serif-button:active,
.lato-button:active,
.anonymous-pro-button:active,
.roboto-button:active,
.montserrat-button:active,
.poppins-button:active,
.raleway-button:active,
.nuinto-button:active,
.description-button:active {
  background-color: #222;
}

.bold-button {
  font-weight: bold;
}

.italic-button {
  font-style: italic;
}

.underline-button {
  text-decoration: underline;
}

.strike-through-button {
  text-decoration: line-through;
}

.sans-button {
  font-family: sans;
}

.sans-serif-button {
  font-family: sans-serif;
}

.lato-button {
  font-family: lato;
}

.anonymous-pro-button {
  font-family: "Anonymous Pro";
}

.roboto-button {
  font-family: Roboto;
}

.montserrat-button {
  font-family: Montserrat;
}

.poppins-button {
  font-family: Poppins;
}

.raleway-button {
  font-family: Raleway;
}

.nuinto-button {
  font-family: Nuinto;
}

.checkbox {
  background: #4D0101;
  border-radius: 1.875rem;
  box-shadow: 0.313rem 0.313rem 0.625rem black;
  width: 0.938rem;
  height: 0.938rem;
  outline: none;
}

.title-label {
  font-size: 1.563rem;
  font-family: "Secular One", sans-serif;
  color: white;
}

.error-label {
  font-size: 1.25rem;
  font-family: "Secular One", sans-serif;
  color: red;
}

.acceptance-label {
  display: block;
  font-size: 1.25rem;
  color: white;
  margin: 0.313rem;
}

.socal-nag {
  display: block;
  font-size: 1.1rem;
  color: white;
  margin: 0.3rem 0.938rem;
}

.acceptance-label a,
.socal-nag a {
  color: #4D0101;
}

.encourage-label {
  display: inline-block;
  font-size: 2.188rem;
  color: white;
  margin: 0.313rem;
}

/* Default button style */
.upload-button,
.login-button,
.delete-button,
.load-button {
  font-size: 1.25rem;
  font-family: "Secular One", sans-serif;
  background: #4D0101;
  color: white;
  border-radius: 0.5rem;
  margin: 0.938rem;
  box-shadow: 0 0.5rem 0.5rem black;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.delete-button {
  margin: 0;
}

.upload-button:hover,
.login-button:hover,
.game-download-button:hover,
.delete-button:hover,
.load-button:hover {
  transform: translateY(-0.188rem);
  box-shadow: 0 0.5rem 0.938rem black;
}

.upload-button:focus,
.login-button:focus,
.delete-button:focus,
.load-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem #4D0101, 0 0.313rem 0.625rem black;
}

.upload-button:active,
.login-button:active,
.delete-button:active,
.game-download-button:active .load-button:active {
  transform: translateY(0);
  box-shadow: 0 0.188rem 0.313rem black;
}

.upload-button:disabled,
.login-button:disabled,
.game-download-button:disabled,
.load-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: 0 0.313rem 0.625rem black;
}

.upload-button:disabled:hover::after,
.login-button:disabled:hover::after,
.game-download-button:disabled:hover::after,
.load-button:disabled:hover::after {
  display: block;
  position: absolute;
  top: -1.563rem;
  left: 100%;
  padding: 0.313rem;
  background-color: black;
  color: white;
  border-radius: 0.313rem;
  font-size: 0.75rem;
  white-space: nowrap;
  z-index: 9999;
  cursor: default;
}

.login-button:disabled:hover::after {
  content: "Fill out the fields correctly.";
}

.load-button:disabled:hover::after {
  content: "You've reached the end.";
}

.new-label,
.updated-label {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  background-color: #000d;
  border-radius: 0.35rem;
  padding: 0 0.25rem;
}

.new-label span,
.updated-label span {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Secular One", sans-serif;
}

.upload-button {
  width: auto;
  min-width: 5rem;
}

.login-button {
  width: 100%;
  max-width: 15.625rem;
}

.load-button-div {
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.download-button,
.signin-button,
.dashboard-button {
  font-size: 1.25rem;
  font-family: "Secular One", sans-serif;
  background: #4D0101;
  color: black;
  border-radius: 0.5rem;
  box-shadow: 0 0.313rem 0.625rem black;
  width: 6.25rem;
  outline: none;
}

.game {
  width: 18rem;
  height: auto;
  transition: transform 0.3s ease;
}

.product-title {
  display: inline-block;
  width: auto;
  max-width: 18rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.5s ease;
}

.product-title:hover {
  color: #4D0101;
  border: 0;
}

.product-summary {
  display: inline-block;
  width: 18rem;
  margin: auto;
  font-size: 1rem;
  font-family: "Secular One", sans-serif;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.4;
  line-height: 1.1;
}

.product-price {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: black;
  border-radius: 0.35rem;
  padding: 0 0.25rem;
}

.product-price span {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Secular One", sans-serif;
  color: #4D0101;
}

.web-icon {
  transition: transform 0.2s ease-in-out;
}

.web-thumbnail {
	display: block;
	width: 100%;
}

.link-container {
  position: relative;
  display: inline-block;
}

.product-image-container {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.product-image-container:hover {
  transform: scale(1.05);
}

.product-image {
  width: 18rem;
  height: 14.4rem;
  position: relative;
  border-radius: 0.938rem;
  box-shadow: 0 0.313rem 0.625rem black;
  object-fit: fill;
  object-position: center;
  transition: outline 0.2s ease-in-out;
}

.product-image:hover {
  outline: 0.125rem solid #4D0101;
}

.editing-game {
  display: flex;
  color: white;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  border-radius: 1rem;
  padding: 1rem;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.editing-game:hover {
  transform: scale(1.015);
}

.game-setting {
  font-weight: bold;
  padding: 0.5rem 0;
}

.game-setting div {
  display: inline-block;
  font-size: 1.5rem;
}

.game-column {
  display: block;
  position: relative;
  max-width: 60rem;
  min-height: 54rem;
  height: auto;
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Lato';
  width: auto;
  margin: 0 auto;
  background-color: #0a0a0a;
  box-shadow: 0 1rem 1rem black;
}

.game-download {
  margin: 1.25rem;
}

.game-download-button {
  display: inline-block;
  padding: 0.313rem 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 0.625rem;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.game-download-input {
  font-size: 1.125rem;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
  outline: 0.063rem solid #4caf50;
  transition: border-color 0.2s ease-in-out;
}

.game-price {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  opacity: 0.3;
}

.columns {
  display: flex;
  justify-content: center;
}

.left-column {
  font: inherit;
  flex: 1;
  width: 50%;
  min-height: 6.25rem;
}

.right-column {
  font: inherit;
  width: 40%;
  min-height: 6.25rem;
  float: right;
}

.game-image-list {
  display: block;
  width: 100%;
}

.game-title-column {
  margin: 1.25rem;
  margin-top: 0;
  font: inherit;
  color: white;
}

.game-developer-name {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
}

.game-summary {
  display: block;
  font-size: 1.3rem;
  opacity: 0.5;
}

.game-title {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
}

.game-stats {
  display: block;
  border-radius: 1rem;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  padding: 1rem;
  width: auto;
  height: auto;
  color: white;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.game-description {
  display: block;
  padding: 1rem;
  font-size: 1.125rem;
  border-radius: 1rem;
  min-height: 10rem;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  width: auto;
  margin: 1rem;
  margin-top: 0;
  color: white;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.game-description div{
  margin: 0.5rem 0;
}

.game-description h1,
.game-description h2,
.game-description h3,
.game-description h4 {
  margin: 0.3rem 0;
}

.game-stats:hover,
.game-description:hover {
  transform: scale(1.015);
}

.game-stats h1 {
  width: auto;
  margin: 0.5rem 0;
  display: block;
}

.game-stat {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  width: 100%;
  margin-top: 0.5rem;
  height: auto;
}

.game-stat-data {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  margin: 0;
  opacity: 0.3;
}

.game-stat-title {
  display: flex;
  font-size: 1rem;
  margin: 0;
}

.web-icon:hover {
  transform: scale(1.1);
}

.desc {
  color: white;
  margin-left: 1.25rem;
}

.selections {
  width: 10rem;
  float: left;
  text-align: center;
  border-right: 0.125rem solid black;
}

.selections h1 {
  color: white;
  margin: 0;
}

.game-sort {
  margin: 0.188rem auto;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 0.313rem;
  padding: 0.188rem;
  width: 9.375rem;
}

.errorImg {
  width: 15.625rem;
  height: 15.625rem;
}

.error-title,
.error-caption {
  font-family: "Secular One", sans-serif;
  outline: #000;
  color: white;
  width: auto;
  overflow: hidden;
  word-break: break-all;
}

.error-title {
  font-size: 1.563rem;
}

.error-caption {
  font-size: 1.25rem;
}

.user-page {
  display: block;
  width: 50%;
  padding: 1rem;
  margin: auto;
  margin-bottom: 2.5rem;
  background-color: #222222;
  color: white;
  font-family: "Secular One", sans-serif;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-divider {
  border-bottom: white solid 0.08rem;
  margin: 0.5rem auto;
  width: 95%;
}

.user-page h1 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  width: 95%;
  margin: auto;
}

.user-page p {
  text-align: center;
  margin: 0;
  padding-bottom: 1rem;
  opacity: 0.5;
  font-size: 1.5rem;
}

.user-stat {
  display: inline-block;
  width: 25%;
  height: auto;
}

.user-stat-data {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 0;
  opacity: 0.3;
}

.user-stat-title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin: 0;
}

.category {
  width: 80%;
  min-height: 1rem;
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 3.5rem;
  box-shadow: 0 1rem 1rem black;
  background-color: #222222;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category:hover,
.user-page:hover {
  box-shadow: 0 1.5rem 1.5rem black;
  transform: scale(1.015);
}

.category h1,
.category h4 {
  margin: 0.5rem 1rem;
  color: white;
  text-shadow: 0.5rem 0.5rem 0.5rem black;
}

.category-none {
  opacity: 0.25;
  text-align: center;
  font-size: 5rem;
}

.search-label {
  color: white;
  font-size: 3rem;
  margin-left: 5rem;
}

.genre-button {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  margin: 0;
  width: 10rem;
  height: 3rem;
  box-shadow: 0 0.25rem 0.5rem black;
  border-style: solid;
  border-width: 0;
  background-color: #46464c;
  transition: color 0.5s ease outline 0.5s ease;
}

.genre-button h4,
.genre-name {
  text-shadow: 0.2rem 0.2rem black;
  font-family: "Secular One", sans-serif;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  text-align: center;
}

.genre-name {
  font-size: 1.25rem;
}

.genre-button h4 {
  opacity: 0.5;
}

.genre-button:hover {
  text-decoration: none;
  border-bottom: 0;
  outline: 0.125rem solid #4D0101;
}

.market {
  display: flex;
  overflow-x: auto;
  gap: 1.25rem 1.25rem;
  padding: 1rem;
}

.login-form {
  width: 45%;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  outline: 1px solid #3f3f3f;
  padding: 5rem;
  border-radius: 3rem;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-form:hover {
  transform: scale(1.015);
  box-shadow: 0 1.5rem 1.5rem black;
}

.login-form ul {
  width: 100%;
}

.show-icon,
.hide-icon {
  position: absolute;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  outline: 1px solid #ccc;
  border-radius: 50%;
  z-index: 1;
  margin: 0.75rem 0.3rem;
}

.show-icon {
  background-color: green;
}

.hide-icon {
  background-color: red;
}

.password-input {
  display: block;
}

.settings {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 9.375rem;
}

.settings h1 {
  color: white;
  font-weight: bold;
  margin-left: 2rem;
}

.settings-category {
  width: 100%;
  background-color: #222222;
  margin-top: 1.25rem;
  padding: 0.5rem;
  box-shadow: 0 1rem 1rem black;
  border-radius: 0.5rem;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.settings-category:hover {
  transform: scale(1.015);
  box-shadow: 0 1.5rem 1.5rem black;
}

.settings-category div {
  color: white;
  margin: 1rem;
}

.extra-buttons {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
}

.login-form ul,
.settings ul {
  display: inline-block;
  list-style-type: none;
  margin: auto;
  padding: 0;
  font-family: "Secular One", sans-serif;
}

.agreement {
  display: block;
  color: grey;
  opacity: 0.5;
}

.agreement a {
  color: white;
}
