input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0;
  background-color: transparent;
  height: 1rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #292929;
  border-radius: 1rem;
  outline: solid 3px black;
  height: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  outline: solid 2px black;
  background-color: #4d0101;
  border-radius: 50%;
  transform: translateY(-10%);
  cursor: pointer;
}
