.text-box {
  display: inline-block;
  font-size: 1rem;
  font-family: "Secular One", sans-serif;
  max-width: 30rem;
  margin: 0;
  width: auto;
  width: 15rem;
  height: 2rem;
  padding: 0.3rem;
  color: white;
  background-color: #292929;
  box-shadow: 0 0.5rem 0.5rem black;
  border-radius: 1rem;
  outline: 1px solid #3f3f3f;
  cursor: text;
  transition: background-color 0.3s ease-in-out;
}

.text-box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background-size: cover;
}

.text-box:hover {
  background-color: #4b4b4b;
}

.text-box:focus-within {
  background-color: #4b4b4b;
}

.text-box input[type="text"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: text;
}
