.upload-game {
  display: flex;
  
  flex-direction: column;
  align-items: center;
}

.editing-game {
  color: white;
}

.policy-nag {
  color: #8a8a8a;
}

.main-upload-form,
.extra-upload-form,
.upload-game-conclusion,
.advanced-upload-form,
.advanced-editing-form,
.main-editing-form {
  width: 50%;
  margin: 1.5rem 0;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.main-editing-form,
.advanced-editing-form {
  width: 100%;
}

.main-upload-form:hover,
.extra-upload-form:hover,
.advanced-upload-form:hover,
.upload-game-conclusion:hover,
.main-editing-form:hover,
.advanced-editing-form:hover {
  transform: scale(1.015);
}

.extra-upload-form,
.main-upload-form,
.main-editing-form {
  display: flex;
  overflow: auto;
  justify-content: space-between;
}

.game-features-form,
.main-form {
  flex: 1;
  margin-right: 10px;
}

.game-platforms-form,
.pricing-form {
  flex: 1;
  margin-left: 10px;
}

.main-upload-form h1,
.extra-upload-form h1,
.upload-game-conclusion h1,
.advanced-upload-form h1,
.advanced-editing-form h1,
.main-editing-form h1 {
  text-align: center;
  color: white;
  margin: 1rem;
}
.extra-upload-form div,
.main-upload-form div,
.advanced-upload-form div,
.upload-game-conclusion div
.advanced-editing-form div,
.main-editing-form div {
  margin: 0.25rem;
}

.upload-game-conclusion label,
.extra-upload-form label,
.advanced-upload-form label,
.main-upload-form label
.advanced-editing-form label,
.main-editing-form label {
  margin-right: 0.25rem;
  display: inline-block;
  width: fit-content;
}

.game-setting {
  display: flex;
  justify-content: space-between;
}

.title-label {
  flex: 1;
  margin-left: 0.15rem;
  white-space: nowrap;
}

.game-setting-feature {
  flex: 1;
  margin-right: 0.15rem;
}

.preview-image {
  width: 18rem;
  height: 14rem;
  margin: 1rem;
  border: 0.25rem dashed;
  border-radius: 1rem;
}

.file-card {
  display: flex;
  width: 100%;
  background-color: #000000;
  color: white;
  border-radius: 1rem;
  border: 1px dashed;
  padding: 0.25rem;
}

.file-name {
  flex: 1;
  margin-left: 1rem;
}

.file-size {
  flex: 1;
  text-align: end;
  margin-right: 1rem;
}

.error-label {
  font-size: medium;
  color: red;
}