.upload-game {
  display: flex;                /* Enable flexbox */
  flex-direction: column;      /* Stack children vertically */
  align-items: center;         /* Center children vertically */
}

.main-upload-form,
.extra-upload-form,
.upload-game-conclusion {
  width: 50%;
  margin: 0 2rem; /* Adjust margins for spacing */
  padding: 2rem;
  border-radius: 1rem;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.main-upload-form,
.extra-upload-form,
.upload-game-conclusion {
  width: 50%;
  margin-left: 5rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  outline: 1px solid #3f3f3f;
  transition: transform 0.3s ease;
}

.main-upload-form:hover,
.extra-upload-form:hover,
.upload-game-conclusion:hover {
  transform: scale(1.015);
}

.main-upload-form h1,
.extra-upload-form h1,
.upload-game-conclusion h1 {
  color: white;
  margin: 1rem;
}
.extra-upload-form div,
.main-upload-form div,
.upload-game-conclusion div {
  color: white;
  margin: 0.25rem;
}

.upload-game-conclusion label,
.extra-upload-form label,
.main-upload-form label {
  margin-right: 0.25rem;
}