.game {
  width: 18rem;
  height: auto;
  transition: transform 0.3s ease;
}

.product-title {
  display: inline-block;
  width: auto;
  max-width: 18rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.5s ease;
}

.product-title:hover {
  color: #4d0101;
  border: 0;
}

.product-summary {
  display: inline-block;
  width: 18rem;
  margin: auto;
  font-size: 1rem;
  font-family: "Secular One", sans-serif;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.4;
  line-height: 1.1;
}

.product-price {
  top: 0.5rem;
  left: 0.5rem;
}

.product-ratio {
  top: 0.5rem;
  right: 0.5rem;
}

.new-label,
.updated-label {
  bottom: 0.5rem;
  left: 0.5rem;
}

.product-price,
.product-ratio,
.new-label,
.updated-label {
  position: absolute;
  background-color: black;
  color: #4d0101;
  outline: 0.15rem solid #4d0101;
  border-radius: 0.35rem;
  padding: 0 0.35rem;
}

.product-price span,
.product-ratio span {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Secular One", sans-serif;
}

.new-label span,
.updated-label span {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Secular One", sans-serif;
}

.product-image-container {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.product-image-container:hover {
  transform: scale(1.02);
}

.product-image-container:hover .product-image {
  outline: 0.25rem solid #4d0101;
}

.product-image {
  position: relative;
  width: 18rem;
  height: 14rem;
  border-radius: 1rem;
  box-shadow: 0 0.313rem 0.625rem black;
  object-fit: fill;
  object-position: center;
  transition: outline 0.2s ease-in-out;
}
