.game-description {
  display: block;
  padding: 1rem;
  font-size: 1.125rem;
  border-radius: 1rem;
  min-height: 10rem;
  background-color: #0e0e0e;
  width: auto;
  margin: 1rem;
  margin-top: 0;
  color: white;
  transition: transform 0.3s ease;
}

.game-description h1,
.game-description h2,
.game-description h3,
.game-description h4 {
  margin: 0.3rem 0;
}

.game-description div {
  margin: 0;
}

.game-description ul,
.game-description ol {
  margin: 0.5rem 0;
}