.game-download {
  margin: 1.25rem;
}

.game-download-button {
  display: inline-block;
  padding: 0.313rem 0.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 0.625rem;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.game-download-input {
  display: flex;
  justify-self: flex-end;
  height: 100%;
  width: 50%;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  margin-right: 0.625rem;
  transition: border-color 0.2s ease-in-out;
}
