.game-description, .game-description-holder {
  display: block;
  min-height: 10rem;
}

.game-description-holder {
  padding: 1rem;
  border-radius: 1rem;
  min-height: 10rem;
  background-color: #0e0e0e;
  width: auto;
  margin: 1rem;
  margin-top: 0;
  color: white;
  transition: transform 0.3s ease;
}

.game-description-holder:hover {
  transform: scale(1.015);
}

.game-description, .ql-editor {
  font-size: 1.125rem;
  font-family: "Secular One", sans-serif;
}

.game-description, .ql-editor h1,
.game-description, .ql-editor h2,
.game-description, .ql-editor h3,
.game-description, .ql-editor h4 {
  text-align: left;
  margin: 0.3rem 0;
}

.game-description, .ql-editor ul,
.game-description, .ql-editor ol {
  margin: 0.5rem 0;
}