.login-form {
  width: 45%;
  background-color: #222222;
  box-shadow: 0 1rem 1rem black;
  outline: 1px solid #3f3f3f;
  padding: 5rem;
  border-radius: 3rem;
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-form:hover {
  transform: scale(1.015);
  box-shadow: 0 1.5rem 1.5rem black;
}

.login-form ul {
  width: 100%;
}

.show-icon,
.hide-icon {
  position: absolute;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  outline: 3px solid black;
  border-radius: 35%;
  margin: 0.75rem 0.3rem;
}

.show-icon {
  background-color: green;
}

.hide-icon {
  background-color: red;
}

.password-input {
  display: block;
}

.login-form ul {
  display: inline-block;
  list-style-type: none;
  margin: auto;
  padding: 0;
  font-family: "Secular One", sans-serif;
}