.market {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1.25rem 1.25rem;
  padding: 1rem;
  -ms-overflow-style: none;
}

.market::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.market::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  outline: #686868 solid 0.125rem;
  border-radius: 1rem;
}

.market::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}
